features/xsd/autocomplete_results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="autocomplete">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" type="xs:token"/>
							<xs:element name="occurrences" type="xs:nonNegativeInteger"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>