features/xsd/meta_genres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="genres">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="genre" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
					</xs:sequence>
			  </xs:complexType>
			</xs:element>
		</xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
